<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Dorier</title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/dots.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

    <div class="frame">
        <div class="ring ring-1">
            <div class="dot dot-1">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-2">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-3">
                <a href="#" class="fill"></a>
            </div>
        </div>
        <div class="ring ring-2">
            <div class="dot dot-1">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-2">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-3">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-4">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-5">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-6">
                <a href="#" class="fill"></a>
            </div>
        </div>
        <div class="ring ring-3">
            <div class="dot dot-1">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-2">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-3">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-4">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-5">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-6">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-7">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-8">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-9">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-10">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-11">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-12">
                <a href="#" class="fill"></a>
            </div>
        </div>
        <div class="ring ring-4">
            <div class="dot dot-1">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-2">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-3">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-4">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-5">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-6">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-7">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-8">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-9">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-10">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-11">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-12">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-13">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-14">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-15">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-16">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-17">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-18">
                <a href="#" class="fill"></a>
            </div>
        </div>
        <div class="ring ring-5">
            <div class="dot dot-1">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-2">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-3">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-4">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-5">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-6">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-7">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-8">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-9">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-10">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-11">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-12">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-13">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-14">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-15">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-16">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-17">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-18">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-19">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-20">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-21">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-22">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-23">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-24">
                <a href="#" class="fill"></a>
            </div>
        </div>
        <div class="ring ring-6">
            <div class="dot dot-1">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-2">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-3">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-4">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-5">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-6">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-7">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-8">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-9">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-10">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-11">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-12">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-13">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-14">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-15">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-16">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-17">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-18">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-19">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-20">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-21">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-22">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-23">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-24">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-25">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-26">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-27">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-28">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-29">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-30">
                <a href="#" class="fill"></a>
            </div>
        </div>
        <div class="ring ring-7">
            <div class="dot dot-1">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-2">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-3">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-4">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-5">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-6">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-7">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-8">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-9">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-10">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-11">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-12">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-13">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-14">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-15">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-16">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-17">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-18">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-19">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-20">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-21">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-22">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-23">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-24">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-25">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-26">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-27">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-28">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-29">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-30">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-31">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-32">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-33">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-34">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-35">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-36">
                <a href="#" class="fill"></a>
            </div>
        </div>
        <div class="ring ring-8">
            <div class="dot dot-1">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-2">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-3">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-4">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-5">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-6">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-7">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-8">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-9">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-10">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-11">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-12">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-13">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-14">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-15">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-16">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-17">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-18">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-19">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-20">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-21">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-22">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-23">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-24">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-25">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-26">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-27">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-28">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-29">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-30">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-31">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-32">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-33">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-34">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-35">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-36">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-37">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-38">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-39">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-40">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-41">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-42">
                <a href="#" class="fill"></a>
            </div>
        </div>
        <div class="ring ring-9">
            <div class="dot dot-1">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-2">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-3">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-4">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-5">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-6">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-7">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-8">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-9">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-10">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-11">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-12">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-13">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-14">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-15">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-16">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-17">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-18">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-19">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-20">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-21">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-22">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-23">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-24">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-25">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-26">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-27">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-28">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-29">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-30">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-31">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-32">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-33">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-34">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-35">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-36">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-37">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-38">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-39">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-40">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-41">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-42">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-43">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-44">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-45">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-46">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-47">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-48">
                <a href="#" class="fill"></a>
            </div>
        </div>
        <div class="ring ring-10">
            <div class="dot dot-1">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-2">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-3">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-4">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-5">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-6">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-7">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-8">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-9">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-10">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-11">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-12">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-13">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-14">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-15">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-16">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-17">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-18">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-19">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-20">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-21">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-22">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-23">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-24">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-25">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-26">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-27">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-28">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-29">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-30">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-31">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-32">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-33">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-34">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-35">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-36">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-37">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-38">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-39">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-40">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-41">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-42">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-43">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-44">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-45">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-46">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-47">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-48">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-49">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-50">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-51">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-52">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-53">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-54">
                <a href="#" class="fill"></a>
            </div>
        </div>
        <div class="ring ring-11">
            <div class="dot dot-1">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-2">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-3">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-4">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-5">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-6">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-7">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-8">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-9">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-10">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-11">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-12">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-13">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-14">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-15">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-16">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-17">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-18">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-19">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-20">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-21">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-22">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-23">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-24">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-25">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-26">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-27">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-28">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-29">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-30">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-31">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-32">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-33">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-34">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-35">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-36">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-37">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-38">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-39">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-40">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-41">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-42">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-43">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-44">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-45">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-46">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-47">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-48">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-49">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-50">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-51">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-52">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-53">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-54">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-55">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-56">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-57">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-58">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-59">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-60">
                <a href="#" class="fill"></a>
            </div>
        </div>
        <div class="ring ring-12">
            <div class="dot dot-1">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-2">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-3">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-4">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-5">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-6">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-7">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-8">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-9">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-10">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-11">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-12">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-13">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-14">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-15">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-16">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-17">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-18">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-19">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-20">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-21">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-22">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-23">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-24">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-25">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-26">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-27">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-28">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-29">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-30">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-31">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-32">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-33">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-34">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-35">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-36">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-37">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-38">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-39">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-40">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-41">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-42">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-43">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-44">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-45">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-46">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-47">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-48">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-49">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-50">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-51">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-52">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-53">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-54">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-55">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-56">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-57">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-58">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-59">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-60">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-61">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-62">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-63">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-64">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-65">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-66">
                <a href="#" class="fill"></a>
            </div>
        </div>
        <div class="ring ring-13">
            <div class="dot dot-1">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-2">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-3">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-4">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-5">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-6">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-7">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-8">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-9">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-10">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-11">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-12">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-13">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-14">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-15">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-16">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-17">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-18">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-19">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-20">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-21">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-22">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-23">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-24">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-25">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-26">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-27">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-28">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-29">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-30">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-31">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-32">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-33">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-34">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-35">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-36">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-37">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-38">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-39">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-40">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-41">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-42">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-43">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-44">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-45">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-46">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-47">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-48">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-49">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-50">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-51">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-52">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-53">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-54">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-55">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-56">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-57">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-58">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-59">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-60">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-61">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-62">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-63">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-64">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-65">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-66">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-67">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-68">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-69">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-70">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-71">
                <a href="#" class="fill"></a>
            </div>
            <div class="dot dot-72">
                <a href="#" class="fill"></a>
            </div>
        </div>
    </div>


	<script type="js/jquery.min.js"></script>
	<script type="js/popper.min"></script>
	<script type="js/bootstrap.min"></script>

</body>

</html>